h1{
	font-family: 'Lobster', cursive;
	text-align: center;
	font: white;
}

h4{
	font-family: 'Quattrocento Sans', sans-serif;
	margin-bottom: -5px;
}

p{
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 15px;
	display: table-cell; 
	top: 25px;
	vertical-align: middle;
}

a{
	font-family: 'Lobster', cursive;
	text-align: center;
	color:#CC33FF;
}

a:hover{
	color:#FF0099;
	}

b{
	font-family: 'Quattrocento Sans', sans-serif;
	color:#CC33FF;
	font-size: 16px;
}

i{
	color:#FF0099;
}

.container-fluid{
	font-family: 'Quattrocento Sans', sans-serif;
	height:100vh;
}

.row{
	height:100vh;
}

/*Section Floats*/
.section-left{
    float:left; width:50%; clear:left;
} 

.section-right {
    float:right; width:50%; clear:right;
}

#about{
	 height:100vh;
	 background: url(img/notebook_paper.png) repeat center scroll;
}

#skills h1{
	color:white;
}

#coursework{
	 height:100vh;
	 text-align: center;
	 background: url(img/notebook_paper.png) repeat center scroll;
}

#coursework h4{
	color:#CC33FF;
}

#activities h1{
	color:white;
}

#activities-continued{
	height:100vh;
	background: url(img/notebook_paper.png) repeat center scroll;
}

.portfolio{
	text-align: center;
}

#portfolio h1{
	color:white;
}

#portfolio img{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width:100%;
}

#contact{
	height:100vh;
	background: url(img/notebook_paper.png) repeat center scroll;
}

#contact h4{
	text-align: center;
}

#contact img{
	width:150px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	
}

/*
@media only screen and (max-width: 1026px) {
	#contact img{
		width:85px;
		display: block;
		margin-left: auto;
	    margin-right: auto;
	}

	#activities h4{
		font-size: 15px;
	}

	#activities p{
		font-size: 12px;
	}

}
*/

@media only screen and (max-width: 500px) {
	#contact img{
		width:70px;
		display: block;
		margin-left: auto;
	    margin-right: auto;
	}

	#activities h4{
		font-size: 13px;
	}

	#activities p{
		font-size: 10px;
	}

	#activities-continued h4{
		font-size: 13px;
	}

	#activities-continued p{
		font-size: 10px;
	}

}

@media (min-height: 750px) {
	#about-img{
		background: url(img/selfieportraitwroses-bg.png) no-repeat center center scroll;
		height:100vh;
	}

	#skills{
		 background: url(img/background-set-big.png) no-repeat center center scroll;
		 height:100vh;
	}
	#activities{
		 background: url(img/background-set-big.png) no-repeat center center scroll;
		 height:100vh;

	}
	#portfolio{
		 background: url(img/background-set-big.png) no-repeat center center scroll;
		 height:100vh;
	}

}

@media (max-height: 750px) {
	#about-img{
		background: url(img/selfieportraitwroses.png) no-repeat center center scroll;
		height:100vh;
	}
	#skills{
		 background: url(img/basebackground.png) no-repeat center center scroll;
		 height:100vh;
	}
	#activities{
		 background: url(img/basebackground.png) no-repeat center center scroll;
		 height:100vh;

	}
	#portfolio{
		 background: url(img/basebackground.png) no-repeat center center scroll;
		 height:100vh;
	}

}

#main-photo{
	left: -1000px;
	height:100vh;
}