h1{
	font-family: 'Lobster', cursive;
	text-align: center;
	font: white;
}

h4{
	font-family: 'Quattrocento Sans', sans-serif;
	margin-bottom: -5px;
}

p{
	font-family: 'Quattrocento Sans', sans-serif;
	font-size: 15px;
	display: table-cell; 
	top: 25px;
	vertical-align: middle;
}

a{
	font-family: 'Lobster', cursive;
	text-align: center;
	color:#CC33FF;
}

a:hover{
	color:#FF0099;
	}

b{
	font-family: 'Quattrocento Sans', sans-serif;
	color:#CC33FF;
	font-size: 16px;
}

i{
	color:#FF0099;
}

.container-fluid{
	font-family: 'Quattrocento Sans', sans-serif;
	height:100vh;
}

.row{
	height:100vh;
}

/*Section Floats*/
.section-left{
    float:left; width:50%; clear:left;
} 

.section-right {
    float:right; width:50%; clear:right;
}

#about-img{
	background: url(img/selfieportraitwroses.png) no-repeat center center scroll;
	height:100vh;
}

#about{
	 height:100vh;
	 background: url(img/notebook_paper.png) repeat center scroll;
}

#skills{
	 background: url(img/basebackground.png) no-repeat center center scroll;
	 height:100vh;
}

#skills h1{
	color:white;
}

#coursework{
	 height:100vh;
	 text-align: center;
	 background: url(img/notebook_paper.png) repeat center scroll;
}

#coursework h4{
	color:#CC33FF;
}

#activities{
	 background: url(img/basebackground.png) no-repeat center center scroll;
	 height:100vh;

}

#activities h1{
	color:white;
}

#activities-continued{
	height:100vh;
	background: url(img/notebook_paper.png) repeat center scroll;
}

.portfolio{
	text-align: center;
}

#portfolio{
	 background: url(img/basebackground.png) no-repeat center center scroll;
	 height:100vh;
}

#portfolio h1{
	color:white;
}

#portfolio img{
	display: block;
	margin-left: auto;
    margin-right: auto;
    width:100%;
}

#contact{
	height:100vh;
	background: url(img/notebook_paper.png) repeat center scroll;
}

#contact h4{
	text-align: center;
}

#contact img{
	width:50px;
	display: block;
	margin-left: auto;
    margin-right: auto;
	
}

@media only screen and (max-width: 1026px) {
	#about {
    }

    #skills {
       
    }
}

#main-photo{
	left: -1000px;
	height:100vh;
}